<!-- reg.html -->
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
    }

    .container {
        background-color: #ffffff;
        padding: 16px;
        margin: auto;
        margin-top: 50px;
        width: 50%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    h1 {
        text-align: center;
        color: #333333;
    }

    label {
        font-size: 16px;
        color: #333333;
    }

    input[type=text], input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    button {
        background-color: #4caf50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
    }

    button:hover {
        background-color: #45a049;
    }
</style>

<form action="{% url 'credentials:register' %}" method="post">
    {% csrf_token %}
    <div class="container">
        <h1>Register</h1>
        <hr>
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" id="username" required>

        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" id="password" required>

        <label for="cpassword"><b>Confirm Password</b></label>
        <input type="password" placeholder="Repeat Password" name="cpassword" id="cpassword" required>

        <hr>

        <button type="submit" class="registerbtn">Register</button>
        {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
            <h3>{{ message }}</h3>
        </div>
    {% endfor %}
{% endif %}
    </div>
</form>


